<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/2948d3e5-66c0-4e82-8ca4-7fa4050a3778/resourceGroups/vfs-checker/providers/Microsoft.ContainerRegistry/registries/TimedChecker20230209230656</ContainerResourceId>
    <ContainerResourceName>TimedChecker20230209230656</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>timedchecker20230209230656.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>timedchecker</ContainerName>
    <EnvironmentName>TimedChecker-env-20230209230146</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://timedchecker-app-20230209230145.bluesmoke-50035c98.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2948d3e5-66c0-4e82-8ca4-7fa4050a3778/resourceGroups/vfs-checker/providers/Microsoft.App/containerapps/timedchecker-app-20230209230145</ResourceId>
    <ResourceGroup>vfs-checker</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>